<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- enable the usage of annotations -->
    <context:annotation-config />

    <!-- Note that there is no messageProvider property in the renderer.
            It is because the wiring requirement is specified through
            @Autowired annotation  -->




<bean id="gameImpl" class="Implementation.GameImpl">
    <constructor-arg>
        <value>true</value>
    </constructor-arg>

</bean>
    <bean id="IntGen" class="Implementation.IntGenImpl">

    </bean>
    <bean id="CodeGen" class="Implementation.CodeGenImpl">

    </bean>
    <bean id="GuessCheck" class="Implementation.GuessCheckImpl">

    </bean>

    <bean id="InCheck" class="Implementation.InCheckImpl">
        <constructor-arg value="{r,o,b,g,y,p}"/>
        <constructor-arg value="4"/>


    </bean>
    <bean id="InParse" class="Implementation.InputParserImpl">

    </bean>
    <bean id="GCount" class="Implementation.GuessCounterImpl">

        <constructor-arg value="10"/>
    </bean>
    <bean id="GReset" class="Implementation.GameResetImpl">

    </bean>


</beans>

